body {
  font-size: 16px;
/*  color: #fff;*/
/*  background-color: #61122f;*/
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /*Name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .25; 
}

h1 {
  text-align: center;
}
#nav-list {
  margin-top: 10px;
}
/*#nav-list p {
  color: #950C49;
  text-align: center;
  font-size: 1.8em;
}*/

#nav-list p:hover {
  color: #E7E7E7;
  
}

.category {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

        /*desktop version*/
    /*@media (min-width: 992px) {
        .column-lg-4 {
            float: left;
            width: 33.33%;
        }
    }*/

    /*tablet version*/
    @media (min-width: 768px) and (max-width: 991px) {
        .colmn-md-6 {
            float: left;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

    }

    /*tablet version*/
    @media (min-width: 300px) and (max-width: 767px) {
        .colmn-xs-12 {
            float: left;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

    }


